.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa:hover {
    opacity: 0.7;
   background-color: darkorange;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
    margin: 10px;
  }
  .fa-instagram {
    background: #eb2405;
    color: white;
    margin: 10px;
  }
  .fa-github {
    background: #0c0c0c;
    color: white;
    margin: 10px;
    }
.icons{
    text-align: right;
    margin-right: 150px;
}
header>h1{
    color: rgba(227, 155, 21, 0.872);;
}